---
layout: default # was page
title: Blog2
---

    <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% endif %}
    <span style="padding: 5px, 40px">
      post: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next </a>
    {% endif %}
  </div>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
 <div class="date">
  <br>
  Written on {{ post.date | date: "%B %e, %Y" }} {% if post.author %} by {{post.author}} {% endif %}                                                                                             
</div>
{% endfor %}





