---
layout: default
author:  # this is optional
tags:  # need to agree a list?  should be as a list as there can be more than one?  ['a11y', 'usability-testing']
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <br>
    Written on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{page.author}} {% endif %}                                                                                             
  </div>
  <div>
     {% if not page.tags == [] %} Tags: 
        {% for tag in page.tags %} 
            <code class="language-plaintext highlighter-rouge"> {{ tag }} </code>
        {% endfor %}
    {% endif %}    
  </div>
  {% include disqus.html %}
</article>
